{%extends "page.html"%}
{%block title%}PostgreSQL Mailing Lists: {{title}}{%endblock%}
{%block extrahead%}<meta name="robots" content="noindex" />{%endblock%}
{%load pgfilters%}

{%block contents%}
<h1>{{title}} <i class="far fa-envelope"></i></h1>
<p>{{list.description|safe}}</p>

{%include "searchform.html"%}

{%include "datelist_topandbottom.html"%}
{%for m in messages%}
  {%ifchanged m.date.date%}
    {%if not forloop.first%}
      </tbody>
      </table>
    {%endif%}
    <h2>{{m.date.date}}</h2>
    <table
      id="table"
      data-toggle="table"
      data-pagination="true"
      data-page-list="[10, 20, 50, 100, all]"
      data-buttons-class="primary"
      data-search="true">
      <thead class="list-header">
        <tr>
          <th scope="col" style="width: 70%;" class="list-table-header-text" data-field="threadname">Thread</th>
          <th scope="col" style="width: 25%;" class="list-table-header-text" data-field="threadauthor">Author</th>
          <th scope="col" style="width: 5%;" class="list-table-header-text" data-field="threadtime">Time</th>
        </tr>
      </thead>
      <tbody>
  {%endifchanged%}
      <tr class="daylist_data">
        <th style="padding: 3px;">
          <a href="/message-id/{{m.messageid|urlencode}}">{{m.subject|default:"[No subject]"}} {% if m.has_attachment %} &#x1f4ce;{% endif %}</a>
        </th>
        <td><i class="fa fa-user" aria-hidden="true" style="color: #004b87;"></i> {{m.mailfrom|nameonly}}</td>
        <td><i style="color: #004b87;" class="fa">&#xf017;</i> {{m.date.time|time:"H:i"}}</td>
      </tr>
      {%if forloop.last%}
    </tbody>
  </table>
{%endif%}
{%endfor%}

{%include "datelist_topandbottom.html"%}
{%endblock%}
