{%extends "base.html" %}
{%block layoutblock%}
<div class="container-fluid margin archive">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4">
      <div id="pgSideWrap">
       <div id="pgSideNav">
         <h2>Quick Links</h2>
         <ul>
          <li><a href="/community/"><i class="fa fa-users"></i>Community</a></li>
          <li><a href="/community/contributors/"><i class="fa fa-code" aria-hidden="true"></i>Contributors</a></li>
          <li><a href="/list/"><i class="fa fa-envelope" aria-hidden="true"></i>Mailing Lists</a></li>
          <li><a href="/community/irc/"><i class="fas fa-comments"></i>IRC</a></li>
          <li><a href="https://postgres-slack.herokuapp.com/"><i class="fab fa-slack"></i>Slack</a></li>
          <li><a href="/community/user-groups/"><i class="fa fa-paper-plane" aria-hidden="true"></i>Local User Groups</a></li>
          <li><a href="/about/events/"><i class="fas fa-calendar-alt"></i> Events</a></li>
          <li class="last-child"><a href="/community/international/"><i class="fa fa-globe" aria-hidden="true"></i>International Sites</a></li>
         </ul>
       </div>
      </div> <!-- pgSideWrap -->
    </div>
    <div class="col-xl-10 col-lg-9 col-md-8">
      <div id="pgContentWrap">
        {%block contents%}{%endblock%}
      </div> <!-- pgContentWrap -->
    </div>
  </div>
</div>
{%endblock%}
